.banner {
  background-image: url(../assets/bannerImg.png);
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-bottom: 32px;
  height: 536px;
  display: grid;
  align-content: end;
  width: 100%;
}

.banner h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  line-height: 56px;
}

.banner button {
  background: #db3022;
  box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);
  border-radius: 25px;
  width: 160px;
  height: 36px;
  margin-top: 2px;
  border: none;
  color: white;
}

