.card {
  padding: 17px 0;
}

.cardTitle {
  margin-top: 3px;
}

.cardPrice {
  color: #db3022;
  font-size: 14px;
  font-weight: 500;
}
.cardPrice {
  color: #db3022;
  font-size: 14px;
  font-weight: 500;
}